.item {
  align-items: center;
  display: flex;
  margin-top: 0.5rem;

  &__img {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;

    > img {
      border-radius: 9999px;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    color: #1f2937;
    font-weight: 500;
  }
}
